<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lounge Hackers</title>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path("favicons/apple-touch-icon-57x57.png")%>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path("favicons/apple-touch-icon-114x114.png")%>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path("favicons/apple-touch-icon-72x72.png")%>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path("favicons/apple-touch-icon-144x144.png")%>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path("favicons/apple-touch-icon-60x60.png")%>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path("favicons/apple-touch-icon-120x120.png")%>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("favicons/apple-touch-icon-76x76.png")%>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path("favicons/apple-touch-icon-152x152.png")%>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path("favicons/apple-touch-icon-180x180.png")%>">
    <link rel="icon" type="image/png" href="<%= asset_path("favicons/favicon-192x192.png")%>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= asset_path("favicons/favicon-160x160.png")%>" sizes="160x160">
    <link rel="icon" type="image/png" href="<%= asset_path("favicons/favicon-96x96.png")%>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= asset_path("favicons/favicon-16x16.png")%>" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= asset_path("favicons/favicon-32x32.png")%>" sizes="32x32">
    <meta name="msapplication-TileColor" content="#1d1c1b">
    <meta name="msapplication-TileImage" content="<%= asset_path("favicons/mstile-144x144.png")%>">
    <meta property="og:title" content="Lounge Hackers Sweden"/>
    <meta property="og:site_name" content="Lounge Hackers Sweden"/>
    <meta property="og:image" content="<%= asset_url("facebook-feed.png")%>"/>
    <meta property="og:description" content="Each wednesday evening, hackers in Sweden unite in lounge hack events. 
                                             Currently in both Stockholm, Gothenburg and Sundsvall."/>
    <meta property="og:url" content="https://loungehack.com/"/>
    <meta property="og:type" content="website"/>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
      <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <%= yield %>
  </body>
</html>
